<div class="center-div">
	<mat-card class="panel panel-primary">
	    <mat-card-title>
			<h3 class="panel-title">Contact Us</h3>
		</mat-card-title>
	    <div class="panel-body">
	    	<form [formGroup]="form" novalidate action="/sendClientEmail" method="post">
				<!-- <div formGroupName="clientInfo"> -->
					<mat-form-field>
						<input matInput formControlName="name" placeholder="Name">
					</mat-form-field>
					<mat-form-field>
						<input matInput formControlName="email" placeholder="Email">
					</mat-form-field>
					<mat-form-field>
						<input matInput formControlName="phone" placeholder="Phone">
					</mat-form-field>
				<!-- </div> -->
				<mat-form-field>
					<textarea matInput formControlName="message" placeholder="Message"></textarea>
				</mat-form-field>
				<button matButton (click)="sendClientEmail()">Submit</button>
		    </form>
		</div>
	</mat-card>
</div>